body {
  margin: 0;
  padding: 0;
  color: white;
}

header {
  background-image: url(img/footer.png);
  background-size: cover;
  height: 450px;
}

.logo {
  width: 250px;
}

.menu {
  top: 0px;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 25px;
  top: 50px;
}

ul li {
  list-style-type: none;
  display: inline;
}

a {
  color: white;
  text-decoration: none;
}

.imagescount {
  background-size: cover;
  height: 200px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.text-ourpodcasts {
  text-align: center;
  color: #43086d;
  font-size: 25px;
}

.the-3-PODCASTS {
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  color: #43086d;
  text-align: center;
}

.images1 {
  flex-basis: 33%;
}

.images2 {
  flex-basis: 33%;
}

.images3 {
  flex-basis: 33%;
}
