body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Raleway', sans-serif;
    
}
// start header
header{
    background-image: url(img/footer.png);
    background-size: cover;
    height: 650px;
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
   width: 150px;
   height: auto;
}
.menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        font-size: 25px; 
        li{
            margin: 0px 20px;
        }
}

a{
    color: white;
    text-decoration: none;
}


//    start cont
.count{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.imagescount{

    background-size: cover;
    height: 300px;
    width: 200px;
    height: auto;

}

.text-ourpodcasts{
    color: #43086d;
    font-size: 25px;
}

// imaeges conti
.the-3-PODCASTS{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color:#43086d ;
    text-align: center;
    div {
        flex-basis: 33%;
    }
}


//form Home

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  

    img{
        width: 150px;
        height: auto;
    }
}
.line {
    background-color: #43086d;
    height: 3px;
    width: 100px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=button] {
    width: 200px;
    background-color: #43086d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=button]:hover {
    background-color:  #1f0333;
  }

  .form-container {
      width: 100%;
      display: flex;
      justify-content: center;
      label {
          color: #43086d;
      }
  }
  
  .form {
    border-radius: 5px;
    border: solid 1px  #43086d ;
    width: 50%;
    padding: 20px;
    
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    resize: none;
    margin: 8px 0;
    
  }


//footer

footer {
    background-image: url(img/dt-bg.png);
    background-size: cover;
    width: 100%;
    height: 300px;
    display: flex;
    color: white;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    
   div {
       i{
           margin-left: 20px;
           margin-right: 20px;;
           font-size: 25px;
       }
   }
    
}

// Business project page

.podcast-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        color: #43086d;
        font-size: 80px;

    }
    div{
        display: flex;
        color: black;
        padding: 50px;
        flex-wrap: wrap;
        div{
            font-size: 20px;
            line-height: 1.6;
        }
    }

}
